header {
    .container {
        position: relative;
        width: 100%;
        height: 60px;
        background-color: #202058;
        font-family: inherit;
        font-size: 17px;
        font-weight: 1000;
        padding-right: 15px;
        cursor: pointer;
        @media (max-width: 430px) {
            .watchlist {
                display: none;
            }
        }
        .inner-content {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 10px;
            ul {
                display: flex;
                list-style: none;
                li {
                    align-items: center;
                    margin: 0px 10px 0px 10px;
                }
            }
            .btn {
                background-color: #007020;
                padding: 5px 15px;
                border-radius: 30px;
            }
        }
        a {
            color: white;
        }
    }
}