.result-card {
    width: 100%;
    min-height: 240px;
    position: relative;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    @media (max-width: 430px) {
        flex-direction: column;
        align-items: center;
    }
    .poster-wrapper {
        min-width: 160px;
        width: 20%;
        height: 100%;
        object-fit: scale-down;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            min-width: 160px;
            object-fit: contain;
            background-color: black;
            border-radius: 10px;
        }
        .filler-poster {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: grey;
        }
    }
    .data-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        min-height: 240px;
        @media (max-width: 430px) {
            min-height: 0px;
        }
        .info {
            margin-left: 15px;
            display: block;
            h3 {
                text-align: center;
                display: inline-block;
                font-size: 20px;
                width: 100%;
            }
            h4 {
                text-align: center;
                margin-top: 10px;
            }
        }
        .controls {
            height: 70px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .btn {
                margin-left: 5px;
                margin-top: 10px;
                border: none;
                background-color: #118855;
                cursor: pointer;
                color: white;
                font-weight: bold;
                border-radius: 4px;
                text-transform: uppercase;
                text-align: center;
                display: inline-block;
                padding: 0px 10px;
                line-height: 30px;
                width: 300px;
                height: 30px;
                @media (max-width: 430px) {
                    font-size: 12px;
                    width: 230px;
                }
                &:hover {
                    background-color: #127acf;
                }
                &:disabled {
                    opacity: 50%;
                    background-color: red;
                    cursor: auto;
                }
            }
        }
    }
}